.mix-cover-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
}

.mix-player-wrapper {
    width: 100%;
    max-width: 800px;
    /* Limit width for 16:9 player */
    margin-bottom: var(--spacing-lg);
    z-index: 20;
}

.mix-main-info {
    text-align: center;
}

.mix-main-title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

@media (min-width: 768px) {
    .mix-main-title {
        font-size: 48px;
    }
}