.mix-cover-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
}

.mix-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mix-background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.mix-player-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* Limit width for 16:9 player */
    margin-bottom: var(--spacing-lg);
    z-index: 20;
}

.mix-main-info {
    position: relative;
    text-align: center;
    z-index: 10;
}

.mix-main-title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

@media (min-width: 768px) {
    .mix-main-title {
        font-size: 48px;
    }
}
