.page-top-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background: linear-gradient(to bottom, #767676 0%, rgba(118, 118, 118, 0) 100%);
    pointer-events: none;
    z-index: -1;
}