.sc-player-wrapper {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    z-index: 30;
}

@media (min-width: 768px) {
    .sc-player-wrapper {
        max-width: 700px;
    }
}

@media (max-width: 480px) {
    .sc-player-wrapper {
        width: 95%;
        bottom: 18%;
    }
}